<section>
	<header>
		<div class="jumbotron">
    <div class="container col-sm-12 col-xs-12">
    <h1>
      CHESSTER
    </h1> 
    <br />
    <h2> BY </h2>
      <i><span> The Checkmates </span></i>
   </div> 
  </div> 
	</header>
</section>
