
<header>
	<div class="jumbotron">
		<div class="container">
			<h1>CHESSTER</h1> 
			<span> BY <br /> The Checkmates </span>
		</div> 
	</div> 
</header>

<div class="clr"></div>

<section class="about col-xs-12 col-sm-12" id="about">
<br />
	<div class="col-xs-10 col-sm-8 col-xs-offset-2">
	<p>What really is chesster, why is it up?</p>
		<div class="chess-logo">
			<img alt="chess" class="img-responsive img-circle" src="assets/chess-logo.jpg">
		</div>  
	</div> 
	<div class="col-xs-10 col-sm-8 col-xs-offset-2"> 
		<h3>Cheester</h3>
		<p>Here is a brief descriptionof the app, I dont know what to write so why don't you guys help me out a little bit with describin it, since English is not my strong suit and this is a template some things here wont be staying.... yada yada yada yada yad yadi
		<br />
		Nanana nanan ananan Ipsu loren something</p>    
	</div> 
</section>     

<div class="clr"></div>
<br />
<br />

<section class="code-snips container-fluid" id="code-snips">
	<div class="row" style="background-color:#676566;">
		<div class="first-unit col-xs-10 col-sm-8 col-xs-offset-2"><p>Let's use this space to describe something we did</p>
		</div>
	</div>		

	<div class="row" style="background-color:#0C80D3;">
		<div class="code-unit col-xs-12 col-sm-6" id="code-unit-1"><p>Describe what it does</p></div>
		<div class="code-unit col-xs-12 col-sm-6"><p>Some code snippet here, maybe an image or a css figure</p></div>
	</div>

	<div class="row" style="background-color:#363137;">
		<div class="code-unit col-xs-12 col-sm-6"><p>Some code snippet here</p></div>
		<div class="code-unit col-xs-12 col-sm-6" id="code-unit-1"><p>Describe what it does, maybe an image or a css figure</p></div>
	</div>

	<div class="row" style="background-color:#0C80D3;">
		<div class="code-unit col-xs-12 col-sm-6"><p>Describe what it does, maybe an image or a css figure</p></div>
		<div class="code-unit col-xs-12 col-sm-6" id="code-unit-1"><p>Some code snippet here</p></div>
	</div>
</section>

<div class="clr"></div>
<br />

<section class="tools col-xs-10 col-sm-8 col-xs-offset-2" id="tools">
	<h4>There are some tools the team used to keep the workflow optimal, instead of each logo we can probably think of an SVG with all of the logos together in one img it would be a lot easiar I think</h4>
	<br />
		<div class="row">
			<div class="tool-unit col-xs-12 col-sm-4">logo 1</div>
			<div class="tool-unit col-xs-12 col-sm-4">logo 2</div>
			<div class="tool-unit col-xs-12 col-sm-4">logo 3</div>
			<div class="tool-unit col-xs-12 col-sm-4">logo 4</div>
			<div class="tool-unit col-xs-12 col-sm-4">logo 5</div>
			<div class="tool-unit col-xs-12 col-sm-4">logo 6</div>
		</div>	
</section>	

<div class="clr"></div>
<br />

<section class="team-members container-fluid" style="background-color:#676566;" id="team-members">
	<h5><b> TEAM MEMBERS </h5><b><br />
	<div class="row" >
		<div class="member-top col-xs-10 col-sm-3 col-xs-offset-1" id="member-top">
			<div class="member-face">
				<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
			</div>	
			<p>Instructor</p>
		</div>		
	

		<div class="member-top col-xs-10 col-sm-3 col-xs-offset-1" id="member-top">
			<div class="member-face">
				<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
			</div>	
			<p>Member</p>
		</div>	


		<div class="member-top col-xs-10 col-sm-3 col-xs-offset-1" id="member-top">
			<div class="member-face">
				<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
			</div>	
			<p>Member</p>
		</div>	
		

		<div class="member-bottom col-xs-10 col-sm-3 col-xs-offset-1" id="member-bottom">
			<div class="member-face">
				<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
			</div>	
			<p>Member</p>
		</div>	

		<div class="member-bottom col-xs-10 col-sm-3 col-xs-offset-1" id="member-bottom">
			<div class="member-face">
				<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
			</div>	
			<p>Member</p>
		</div>	

		<div class="member-bottom col-xs-10 col-sm-3 col-xs-offset-1" id="member-bottom">
			<div class="member-face">
				<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
			</div>	
			<p>Member</p>
		</div>	

	</row>
</section>	



