<header>
	<div class="jumbotron">
		<div class="container">
			<h1>C H E S S T E R <br />
		  By <br /> The Checkmates </h1> 
		</div> 
		<br />
		<ul>
            <% if player_signed_in? %>
              <li><%= link_to 'Sign out', destroy_player_session_path, :method => :delete, :class => "btn btn-warning" %></li>
              <br />
              <%= link_to 'Create Game', new_game_path, :class => 'btn btn-success' %>
            <% else %>
              <li><%= link_to 'Sign in', new_player_session_path, :class => "btn btn-default" %></li>
              <br />
              <li><%= link_to 'Sign up', new_player_registration_path, :class => "btn btn-default" %></li>
            <% end %>
         </ul>
	</div> 
</header>

<div class="clr"></div>

<section class="about col-xs-12" id="about">
<br />
	<div class="col-xs-12">
	<p>Interactive ruby chess application</p>
		<div class="chess-logo">
			<img alt="chess" class="img-responsive img-circle" src="assets/chess-logo.jpg">
		</div>  
	</div> 
	<div class="app-description col-xs-12"> 
		<h2>Cheester</h2>
		<p>Here is a brief descriptionof the app, I guess what to write so why don't you guys help me out a little bit with describin it, since English is not my strong suit and this is a template some things here wont be staying.... Something here remember this is a template
		<br />
		Nanana nanan ananan Ipsu loren something</p>    
	</div> 
</section>     

<div class="clr"></div>
<br />

<section class="code-snips container-fluid" id="code-snips">
	<div class="row" style="background-color:#676566;">
		<div class="first-unit col-xs-12"><p>Let's use this space to describe something we did</p>
		</div>
	</div>		
	<div class="row" style="background-color:#0C80D3;">
		<div class="code-unit col-xs-12 col-sm-6" id="code-unit-1"><p>Describe what it does</p></div>
		<div class="code-unit col-xs-12 col-sm-6"><p>Some code snippet here, maybe an image or a css figure</p></div>
	</div>
	<div class="row" style="background-color:#363137;">
		<div class="code-unit col-xs-12 col-sm-6"><p>Some code snippet here</p></div>
		<div class="code-unit col-xs-12 col-sm-6" id="code-unit-1"><p>Describe what it does, maybe an image or a css figure</p></div>
	</div>
	<div class="row" style="background-color:#0C80D3;">
		<div class="code-unit col-xs-12 col-sm-6"><p>Describe what it does, maybe an image or a css figure</p></div>
		<div class="code-unit col-xs-12 col-sm-6" id="code-unit-1"><p>Some code snippet here</p></div>
	</div>
</section>

<div class="clr"></div>
<br />

<section class="tools" id="tools">
	<h3>Built with</h3>
	<div class="container">
		<div class="row">
			<div class="tool-unit col-xs-12 col-sm-10 col-sm-offset-1">		
				<p> <img alt="ruby" class="img-responsive pull-left" src="assets/ruby-logo.png">
					A little description of what this tool did for us max words
				  A little description of what this tool did for us max words
			    A little description of what this tool did for us max words</p>		
			</div>	
		</div>
		<br />
		<div class="row">
			<div class="tool-unit col-xs-12 col-sm-10 col-sm-offset-1">		
				<p> <img alt="js" class="img-responsive pull-left" src="assets/js-logo.png">
					A little description of what this tool did for us max words
				  A little description of what this tool did for us max words
			    A little description of what this tool did for us max words</p>		
			</div>	
		</div>
		<br />
		<div class="row">	
			<div class="tool-unit col-xs-12 col-sm-10 col-sm-offset-1">		
				<p> <img alt="pg" class="img-responsive pull-left" src="assets/pg-logo.png">
					A little description of what this tool did for us max words
				  A little description of what this tool did for us max words
			    A little description of what this tool did for us max words</p>		
			</div>	
		</div>
		<br />
		<div class="row">
			<div class="tool-unit col-xs-12 col-sm-10 col-sm-offset-1">		
				<p> <img alt="ghub" class="img-responsive pull-left" src="assets/ghub-logo.png">
					A little description of what this tool did for us max words
				  A little description of what this tool did for us max words
			    A little description of what this tool did for us max words</p>		
			</div>	
		</div>
		<br />	
	</div>		
</section>	

<div class="clr"></div>
<br />

<section class="team-members col-xs-12" id="team-members">
	<h4><b> The checkmates </h4><b>
	<div class="container-fluid">
		<div class="row">
			<div class="member col-xs-12 col-sm-3 col-xs-offset-1" id="member">
				<div class="member-face">
					<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
				</div>	
				<p>Travis: Senior Developer</p>
			</div>		
			<div class="member col-xs-12 col-sm-3 col-xs-offset-1" id="member">
				<div class="member-face">
					<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
				</div>	
				<p>Sandra: Junior Developer</p>
			</div>	
			<div class="member col-xs-12 col-sm-3 col-xs-offset-1" id="member">
				<div class="member-face">
					<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
				</div>	
				<p>Martin: Junior Developer</p>
			</div>				
			<div class="member col-xs-12 col-sm-3 col-xs-offset-1" id="member">
				<div class="member-face">
					<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
				</div>	
				<p>Jaime: Junior Developer</p>
			</div>	
			<div class="member col-xs-12 col-sm-3 col-xs-offset-1" id="member">
				<div class="member-face">
					<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
				</div>	
				<p>Justin: Junior Developer </p>
			</div>	
			<div class="member col-xs-12 col-sm-3 col-xs-offset-1" id="member">
				<div class="member-face">
					<img alt="member" class="img-responsive img-circle" src="assets/face.jpg">
				</div>	
				<p>Seb: Junior Developer</p>
			</div>	
		</div>	
	</row>
</section>	



