<div class="modal fade" id="promotionOptions" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Congratulations!</h4>
        <p class="text-center">
        	What a feat! You've reached the other side of the board with your Pawn.<br>
        	<strong>Choose a Piece to Replace It</strong>
        </p>
      </div>
      <div class="modal-body">
	      <% ['queen', 'knight', 'rook', 'bishop'].each do |piece| %>
        <label>
  				<input type="radio" name="<%= piece %>">
  				<% color = ( @game.turn == @game.white_player_id ) ? 'white' : 'black' %>
  				<div class="chess-piece <%= color %>-<%= piece %>"></div>
				</label>
				<% end %>
      </div>
    </div>
  </div>
</div>
