<div class="modal fade" id="leaveGameConfirmation" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="forfeit-title">Do You REALLY Want to QUIT?</h4>
      </div>
      <div class="modal-body text-center">
        <button type="button" class="leave-game-confirmation-btn btn btn-danger btn-lg" value="<%= current_player.id %>">YES</button>
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>