<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 no-padding">
	<%= hidden_field :game_id, '', name: nil, id: nil, data: { game_id: @game.id } %>
	<% (1..8).reverse_each do |y| %>
		<div class='board-row col-xs-12 no-padding'> 
			<% (1..8).each do |x| %>
				<%= content_tag :div, '', class: 'board-space', data: { x_coordinate: x, y_coordinate: y } do %>
					<!--This div below is temporary. Displays positions on board-->
					<div class="board-space-content">
						<div style='position: absolute;color: white;font-size: smaller'>
							<%= "#{(x + 64).chr}#{y}" %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>

<%= render 'promotion_modal' %>
