.board-space {
width: 12.5%;
float: left;
position: relative;
  a {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    &:hover, &:active {
      text-decoration: none;
    }
  }
}

.board-space:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.board-space-content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.board-row:nth-child(even) .board-space:nth-child(odd),
.board-row:nth-child(odd) .board-space:nth-child(even) {
  background: url('chessboard/wood.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

.board-row:nth-child(even) .board-space:nth-child(even),
.board-row:nth-child(odd) .board-space:nth-child(odd) {
  background: url('chessboard/darkwood.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white-pawn { background: url('chessboard/pieces/wpawn.svg') center / 100%; }
.white-rook { background: url('chessboard/pieces/wrook.svg') center / 100%; }
.white-knight { background: url('chessboard/pieces/wknight.svg') center / 100%; }
.white-bishop { background: url('chessboard/pieces/wbishop.svg') center / 100%; }
.white-queen { background: url('chessboard/pieces/wqueen.svg') center / 100%; }
.white-king { background: url('chessboard/pieces/wking.svg') center / 100%; }

.black-pawn { background: url('chessboard/pieces/bpawn.svg') center / 100%; }
.black-rook { background: url('chessboard/pieces/brook.svg') center / 100%; }
.black-knight { background: url('chessboard/pieces/bknight.svg') center / 100%; }
.black-bishop { background: url('chessboard/pieces/bbishop.svg') center / 100%; }
.black-queen { background: url('chessboard/pieces/bqueen.svg') center / 100%; }
.black-king { background: url('chessboard/pieces/bking.svg') center / 100%; }

.shadow {
    -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
}

