@import url(https://fonts.googleapis.com/css?family=Six+Caps);

.landing h1 {
	background: linear-gradient(180deg, #FFE792 45%, #AF4F7B 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-family: 'Six Caps', sans-serif;
	font-size: 50vw;
	text-align: center;
	margin-bottom: 0;
	margin-top: .5em;
}

.landing h2 {
	font-size: 5vw;
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
	font-weight: lighter;
}

.landing h3 {
	margin-top: 0;
	font-weight: 100;
	font-size: 28px;
}

.landing .form-control {
	margin-bottom: 6px;
	background-color: #191919;
}

.landing .btn-primary {
	background-color: #492CBF;
	border-color: #301D7B;
}