.landing {
	background: url('chess.jpg') no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: inherit;
	color: #E6E4EF;
	padding: 30px;
}

.landing h1 {
	font-size: 20vw;
	text-align: center;
	margin-bottom: 0;
	margin-top: 70px;
}

.landing h2 {
	font-size: 5vw;
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
	font-weight: lighter;
}

.landing h3 {
	margin-top: 0;
	font-weight: 100;
	font-size: 28px;
}

.landing .form-control {
	margin-bottom: 6px;
	background-color: #191919;
}

.landing .btn-primary {
	background-color: #492CBF;
	border-color: #301D7B;
}