@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);
@import url(https://fonts.googleapis.com/css?family=Assistant:400,300,200,600);

#hero-section {
  text-align: center;
  background: url("chesslanding.jpg") center/cover no-repeat;
  height: 55.5vw;
  h1 {
    background: linear-gradient(180deg, #8b92af 45%, #2f323d 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Six Caps', sans-serif;
    font-size: 22vmax;
    margin: 0;
  }
  h2 {
    font-size: 2.7vmax;
    color: #2f323d;
    margin: .4em;
    font-weight: 100;
  }
  h3 {
    margin-top: 0;
    font-weight: 100;
    font-size: 28px;
  }
  .btn {
    background-color: #a6f1be;
    font-size: 2.4vmax;
    color: #5a5f72;
    border: 0.8px solid;
    margin: 25px;
  }
}

hr {
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 1vw;
  background-image: linear-gradient(to right, transparent, #78809c, transparent);
  width: 38vmax;
}



.form-control {
  margin-bottom: 6px;
  background-color: #191919;
  height: 2em;
}

.teammate {
  width: 20em;
  margin-bottom: 1em;
}

.person-title {
  vertical-align: middle;
  padding-left: .5em;
  display: inline-block;
  h3 {
    color: #ffffff;
    font-family: 'Six Caps', sans-serif;
    font-size: 2.5em;
    margin: 0;
  }
  p {
    color: #ced8ff;
  }
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}

.logo {
  top: 2px;
  left: -9px;
  width: 46px;
  height: 46px;
  background: url("nav-logo.svg") center/cover no-repeat;
  position: relative;
}