html, body {
	margin:0;
	padding:0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

header {
	background: url('chess.jpg') no-repeat center fixed;
	height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.jumbotron {
	background-color: transparent;
	color: #EB9A02;
	text-align: center;
	vertical-align: middle;
	padding: 225px 0 0 0;
	text-shadow: 5px 5px #000000;
}
.jumbotron h1{
	font-family:'fff_tusjbold';
}

.jumbotron span {
	font-size: 35px;
	font-weight: bold;
}

.clr {
	clear: both;
}

.about {
	text-align: center;
	padding: 0 50px;
}

.about p {
	font-size: 22px;
	font-weight: 100;
	text-align: center;
}

.code-snips .first-unit p {
	font-size: 22px;
	font-weight: 200;
	color: #fafafa;
	text-align: center;
}

.code-snips p {
	font-size: 22px;
	font-weight: 200;
	color: #fafafa;
	text-align: center;
	vertical-align: middle;
}

#code-unit-1 {
	padding-top: 140px;
}

.code-unit {
	height: 280px;
}

.tools {
	height: 400px;
	text-align: center;
}

.tools h4 {
	padding: 20px 25px 20px 25px;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
}	

.team-members {
	background-color: #676566;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h5 {
	padding: 15px 25px 15px 25px;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	color: #fafafa;
}

