@import url(https://fonts.googleapis.com/css?family=Dorsa|Lato:300,400|Poppins:400,300);

$white: #ebefff;
$orange: #f1c18a;

p {
	font-size: 13px;
	font-weight: 100;
}

a {
	transition-duration: 0.8s;
	font-weight: 100;
}

body {
	color: white;
	background: #22262a;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 50px;
}

h2 {
	font-weight: 100;
	margin: 5px 15px;
	font-size: 2.7em;
}

h3 {
	font-size: 20px
}

h4 {
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 400;
	color: #fafafa;
	text-align: center;
}

header {
	color: #abc7e3;
	border-top: 1px solid #f1c18a;
	border-bottom: 1px solid #f1c18a;
	box-shadow: 0 0 5em black;
	background: #22262a;;;
	@media (max-width: 600px) {
		text-align: center;
	}
}

.h-center {
	justify-content: center;
	display: flex;
}

html {
	top: 52px;
	position: relative;
}

.clr {
	clear: both;
}

.about {
	text-align: center;
	padding: 0 50px;
	background: url("rook-bg-icon.svg") center/34vh no-repeat;
	background-color: #bf4040;
	p {
		font-size: 22px;;
		text-align: center;
		font-weight: 100;		
	}
	@media (max-width: 600px) {
		background: url("rook-bg-icon.svg") center/78vh no-repeat;
	}
}

.chess-logo {
	max-height: 225px;
	max-width: 225px;
	display: inline-block;
}

.code-snips {
	p {
		font-size: 22px;
		font-weight: 200;
		color: #fafafa;
		text-align: center;
		vertical-align: middle;	
	}
	.first-unit p {
		font-size: 22px;
		font-weight: 200;
		color: #fafafa;
		text-align: center;
	}
}

#code-unit-1 {
	padding-top: 140px;
}

.code-unit {
	height: auto;
}

.tools {
	height: auto;
	h3 {
		padding: 20px 25px 20px 25px;
		font-size: 22px;
		font-weight: bold;
		text-align: center;
	}
	p {
		vertical-align: middle;
		font-size: 25px;
	}
	.img-responsive {
		margin-right: 20px;
	}
}

.btn-primary {
	color: #f1c18a;
	border: 1px solid #f1c18a;
	background-color: inherit;
}

.btn-primary:hover {
  background-color: #f1c18a;
  color: #2f323d;
}

.btn-primary:focus {
  background-color: #f1c18a;
  color: #2f323d;
}

.btn {
	transition-duration: 1s
}

.no-padding {
	padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-control {
  margin-bottom: 6px;
  height: 2em;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
  padding: 0;
  color: #e5b884;
}