$lite-blue: #cbe0f6;
$white: #ebefff;

.navbar-default {
  background-color: #22262a;
  border: none;
  box-shadow: 0px 0.5em 5em #abc7e3;
  .navbar-brand:hover {
    background-color: rgb(243, 249, 255);
    text-shadow: 0 0 0.1em $white;
  }
  .navbar-nav > li > a {
    color: $white;
  }
  .navbar-nav > li > a:hover {
    color: $lite-blue;
  }
}

#sign-out-btn:hover {
  background-color: #b62e2a;
}

.navbar-brand {
  -webkit-text-fill-color: transparent;
  font-family: 'Six Caps', sans-serif;
  font-size: 39px;
  padding-top: 12px;
  background: #abc7e3;
  -webkit-background-clip: text;  
}

.navbar-default .navbar-text {
  color: $white;
  font-size: 14px;
}

.logo {
  position: relative;
  top: 2px;
  left: -9px;
  g {
    opacity: 1;
    fill: none;
    fill-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
    fill-opacity: 1;
    stroke: #000000;
  }
  path { /* Colors for logo */
    fill: #22262a;
    stroke: #ececec;
  }
}