.navbar-default {
  margin: 0;
  background-color: #2c3142;
}

.navbar-brand {
  background: linear-gradient(180deg, #8b92af 45%, #cfd9ff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Six Caps', sans-serif;
  font-size: 39px;
  padding-top: 12px;
}

.navbar-default .navbar-text {
  color: #EBEFFF;
}