.navbar-default {
  margin: 0;
  background-color: #2c3142;
}

.navbar-brand {
  background: linear-gradient(180deg, #8b92af 45%, #cfd9ff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Six Caps', sans-serif;
  font-size: 39px;
  padding-top: 12px;
}

.navbar-default .navbar-text {
  color: #EBEFFF;
}

.logo {
  position: relative;
  left: -9px;
  top: 2px;
  g {
    opacity: 1;
    fill: none;
    fill-opacity: 1;
    fill-rule: evenodd;
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
  }
  path { /* Colors for logo */
    fill: #c92929;
    stroke: #8b92af;
  }
}