$open-background: #2F323D;
$open-color: #EBEFFF;

.open-games-header {
	background: $open-background;
	font-weight: lighter;
	padding: 15px;
	margin: auto;
	color: $open-color;
}

.open-game-items {
  color: $open-color;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: $open-background;
  padding: 0;
  font-weight: lighter;
  h3 {
		margin-top: 10px;
		font-weight: 300;
	}
	form {
		display: flex;
		justify-content: center;
		align-items: center;
  	position: absolute;
  	top: 0;
  	left: 0; 
  	bottom: 0; 
  	right: 0;
	}
	.col-xs-5 {
		margin: auto;
  	position: absolute;
  	top: 0;
  	bottom: 0; 
  	right: 0;
	}
}