.open-games-header {
	background: #2F323D;
	font-weight: lighter;
	padding: 15px;
	margin: auto;
	color: #EBEFFF;
}

.open-game-items {
  color: #EBEFFF;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #2F323D;
  padding: 0px;
  font-weight: lighter;
}

.open-game-items h3 {
	margin-top: 10px;
	font-weight: 300;
}

.open-game-items form {
	display:flex;
	justify-content:center;
	align-items:center;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.open-game-items .col-xs-5 {
	margin: auto;
  position: absolute;
  top: 0; bottom: 0; right: 0;
}