$white: #EBEFFF;
$orange: #f1c18a;

#open-games-list {
  .open-game-items {
    color: $white;
    box-shadow: 0px 0px 2px 0 #d0d0d0;
    padding: 0;
    font-weight: lighter;
    background: inherit;
    h3 {
      margin: 6px 0px 0px 0px;
      font-weight: 200;
      color: $orange;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0; 
      bottom: 0; 
      right: 0;
    }
    .col-xs-5 {
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0; 
      right: 0;
    }
    p {
      margin: 0 0 10px;
      line-height: 1;
    }
  }
}


