.chess-piece {
  height: 65px;
  width: 65px;
}

.white-pawn { background: url('Chess_Pieces_Sprite.svg.png') -350px 0; }

.white-rook { background: url('Chess_Pieces_Sprite.svg.png') -280px 0; }

.white-knight { background: url('Chess_Pieces_Sprite.svg.png') -210px 0; }

.white-bishop { background: url('Chess_Pieces_Sprite.svg.png') -140px 0; }

.white-queen { background: url('Chess_Pieces_Sprite.svg.png') -70px 0; }

.white-king { background: url('Chess_Pieces_Sprite.svg.png') 0 0; }

.black-pawn { background: url('Chess_Pieces_Sprite.svg.png') -350px -70px; }

.black-rook { background: url('Chess_Pieces_Sprite.svg.png') -280px -70px; }

.black-knight { background: url('Chess_Pieces_Sprite.svg.png') -210px -70px; }

.black-bishop { background: url('Chess_Pieces_Sprite.svg.png') -140px -70px; }

.black-queen { background: url('Chess_Pieces_Sprite.svg.png') -70px -70px; }

.black-king { background: url('Chess_Pieces_Sprite.svg.png') 0 -70px; }