@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);
@import url(https://fonts.googleapis.com/css?family=Assistant:400,300,200,600);

.form-control {
  margin-bottom: 6px;
  height: 2em;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
  padding: 0;
}

#teammates {
  background-color: rgba(44, 49, 66, 0.67);
  .teammate {
    width: 20em;
    margin-bottom: 1em;
    display: flex;
  }
  img {
    width: 5em;
    height: 5em;
    flex: 1;
    margin-left: 12px;
  }
  h2 {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
  }
}

.person-title {
  vertical-align: middle;
  padding-left: .5em;
  display: inline-block;
  position: relative;
  left: 10.5%;
  h3 {
    color: #ffffff;
    font-size: 1.5em;
    margin: 0;
    font-weight: 100;;
  }
  p {
    color: #ced8ff;
  }
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}